

*{
    color: blueviolet;
    background-color:black;
    font-family:"Lucida Console", "Courier New", monospace;
}

.special_class{
    color: darkblue;
}

/* one object can have one id; but use less */
#id_label{
    background-color: green;
}

.section{
    font-size: 34px;
}

.optional{
    color: gray;
}