

*{
    color: blueviolet;
    background-color:black;
    font-family:"Lucida Console", "Courier New", monospace;
}


/* one object can have one id; but use less */
#id_label{
    background-color: green;
}

.blocks{
    display: flex;
    /*align-items: flex-end;
    flex-direction: column;*/
}

.blocks_both{
    margin: 40px;
}
.section{
    font-size: 34px;
}

.optional{
    color: gray;
}